RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^accueil/ routeur.php?controleurs=produit&action=produitACC [L]
RewriteRule ^connexion/mot-de-passe-perdu/ http://localhost/lokisalle/www/routeur.php?controleurs=membre&action=mdpperduMembre [L]
RewriteRule ^connexion/ routeur.php?controleurs=membre&action=connexionMembre [L]
RewriteRule ^inscription/ routeur.php?controleurs=membre&action=ajoutMembre [L]
RewriteRule ^nos-salles/reservation-en-details/(.*)$ routeur.php?controleurs=produit&action=reservationDetails&id_produit=$1 [L]
RewriteRule ^nos-salles/ routeur.php?controleurs=produit&action=produitReservation [L]
RewriteRule ^recherche/ routeur.php?controleurs=produit&action=rechercheProduit [L]
RewriteRule ^contact/ routeur.php?controleurs=membre&action=contactMembre [L]
RewriteRule ^newsletter/inscription/ routeur.php?controleurs=newsletter&action=inscriptionMembre&inscription=ok [L]
RewriteRule ^newsletter/ routeur.php?controleurs=newsletter&action=inscriptionMembre [L]

RewriteRule ^mon-profil/modification/ routeur.php?controleurs=membre&action=profilMembre&modif=true [L]
RewriteRule ^mon-profil/ routeur.php?controleurs=membre&action=profilMembre [L]
RewriteRule ^panier/ajouter/(.*)$ routeur.php?controleurs=panier&action=affichagePanier&id_produit=$1 [L]
RewriteRule ^panier/supprimer/(.*)$ routeur.php?controleurs=panier&action=affichagePanier&suppId_produit=$1 [L]
RewriteRule ^panier/ routeur.php?controleurs=panier&action=affichagePanier [L]
RewriteRule ^deconnexion/a-bientot/ routeur.php?controleurs=membre&action=deconnexionMembre&deconnexion=oui [L]


RewriteRule ^admin/gestion-salles/modification/(.*)$ routeur.php?controleurs=salles&action=gestionSalles&modif=$1 [L]
RewriteRule ^admin/gestion-salles/suppression/oui/(.*)$ routeur.php?controleurs=salles&action=gestionSalles&confirm=oui&supp=$1 [L]
RewriteRule ^admin/gestion-salles/suppression/(.*)$ routeur.php?controleurs=salles&action=gestionSalles&supp=$1 [L]

RewriteRule ^admin/gestion-salles/ajouter/ routeur.php?controleurs=salles&action=ajouterSalle [L]
RewriteRule ^admin/gestion-salles/ routeur.php?controleurs=salles&action=gestionSalles [L]

RewriteRule ^admin/gestion-produits/modification/(.*)$ routeur.php?controleurs=produitAdmin&action=afficherProduits&modif=$1 [L]
RewriteRule ^admin/gestion-produits/suppression/(.*)$ routeur.php?controleurs=produitAdmin&action=afficherProduits&supp=$1 [L]
RewriteRule ^admin/gestion-produits/ordre/(.*)/(.*)$ routeur.php?controleurs=produitAdmin&action=afficherProduits&type=$1&order=$2 [L]
RewriteRule ^admin/gestion-produits/ajouter/ routeur.php?controleurs=produitAdmin&action=ajouterProduits [L]
RewriteRule ^admin/gestion-produits/ routeur.php?controleurs=produitAdmin&action=afficherProduits [L]

RewriteRule ^admin/gestion-membres/suppression/(.*)$ routeur.php?controleurs=membreAdmin&action=gestionMembres&suppMembre=$1 [L]
RewriteRule ^admin/gestion-membres/suppression/(.*)$/oui routeur.php?controleurs=membreAdmin&action=gestionMembres&suppMembre=$1&confirm=oui [L]
RewriteRule ^admin/gestion-membres/ajouter-admin/ routeur.php?controleurs=membreAdmin&action=gestionMembres&ajouter=membre [L]
RewriteRule ^admin/gestion-membres/ routeur.php?controleurs=membreAdmin&action=gestionMembres [L]

RewriteRule ^admin/gestion-commandes/details-commandes/(.*)$ routeur.php?controleurs=commande&action=gestionCommandes&details_commande=$1 [L]
RewriteRule ^admin/gestion-commandes/ routeur.php?controleurs=commande&action=gestionCommandes [L]

RewriteRule ^admin/gestion-avis/(.*)$ routeur.php?controleurs=avis&action=gestionAvis&supp=$1 [L]
RewriteRule ^admin/gestion-avis/ routeur.php?controleurs=avis&action=gestionAvis [L]

RewriteRule ^admin/gestion-promotions/supprimer/oui/(.*)$ routeur.php?controleurs=promotion&action=afficherPromotion&confirm=oui&supprimer=$1 [L]
RewriteRule ^admin/gestion-promotions/supprimer/(.*)$ routeur.php?controleurs=promotion&action=afficherPromotion&supprimer=$1 [L]
RewriteRule ^admin/gestion-promotions/ajouter/ routeur.php?controleurs=promotion&action=ajouterPromotion [L]
RewriteRule ^admin/gestion-promotions/ routeur.php?controleurs=promotion&action=afficherPromotion [L]

RewriteRule ^admin/statistiques/salles-mieux-notes/ routeur.php?controleurs=statistiques&action=affichageStatistiques&top=cinqNotes [L]
RewriteRule ^admin/statistiques/salles-plus-vendues/ routeur.php?controleurs=statistiques&action=affichageStatistiques&top=cinqVendues [L]
RewriteRule ^admin/statistiques/membre-quantite/ routeur.php?controleurs=statistiques&action=affichageStatistiques&top=cinqMembresQuantite [L]
RewriteRule ^admin/statistiques/membre-prix/ routeur.php?controleurs=statistiques&action=affichageStatistiques&top=cinqMembresPrix [L]
RewriteRule ^admin/statistiques/ routeur.php?controleurs=statistiques&action=affichageStatistiques [L]

RewriteRule ^admin/newsletter/ routeur.php?controleurs=newsletter&action=envoiNews [L]

RewriteRule ^page-introuvable/ routeur.php?controleurs=Fonctions&action=urlIncorrect [L]

ErrorDocument 401 /lokisalle/www/page-introuvable/
ErrorDocument 403 /lokisalle/www/page-introuvable/
ErrorDocument 404 /lokisalle/www/page-introuvable/
