RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^accueil/ routeur.php?controleurs=produit&action=produitACC [L]
RewriteRule ^connexion/mot-de-passe-perdu/ http://localhost/lokisalle/www/routeur.php?controleurs=membre&action=mdpperduMembre [L]
RewriteRule ^connexion/ routeur.php?controleurs=membre&action=connexionMembre [L]
RewriteRule ^inscription/ routeur.php?controleurs=membre&action=ajoutMembre [L]
RewriteRule ^nos-salles/reservation-en-details/(.*)$ routeur.php?controleurs=produit&action=reservationDetails&id_produit=$1 [L]
RewriteRule ^nos-salles/ routeur.php?controleurs=produit&action=produitReservation [L]
RewriteRule ^recherche/ routeur.php?controleurs=produit&action=rechercheProduit [L]
RewriteRule ^contact/ routeur.php?controleurs=membre&action=contactMembre [L]
RewriteRule ^newsletter/inscription/ routeur.php?controleurs=newsletter&action=inscriptionMembre&inscription=ok [L]
RewriteRule ^newsletter/ routeur.php?controleurs=newsletter&action=inscriptionMembre [L]

RewriteRule ^mon-profil/modification/ routeur.php?controleurs=membre&action=profilMembre&modif=true [L]
RewriteRule ^mon-profil/ routeur.php?controleurs=membre&action=profilMembre [L]
RewriteRule ^panier/ajouter/(.*)$ routeur.php?controleurs=panier&action=affichagePanier&id_produit=$1 [L]
RewriteRule ^panier/supprimer/(.*)$ routeur.php?controleurs=panier&action=affichagePanier&suppId_produit=$1 [L]
RewriteRule ^panier/ routeur.php?controleurs=panier&action=affichagePanier [L]
RewriteRule ^deconnexion/a-bientot/ routeur.php?controleurs=membre&action=deconnexionMembre&deconnexion=oui [L]

RewriteRule ^admin/gestion-produits/modification/(.*)$ routeur.php?controleurs=produitAdmin&action=afficherProduits&modif=$1 [L]
RewriteRule ^admin/gestion-produits/ordre/(.*)/(.*)$ routeur.php?controleurs=produitAdmin&action=afficherProduits&type=$1&order=$2 [L]
RewriteRule ^admin/gestion-produits/ routeur.php?controleurs=produitAdmin&action=afficherProduits [L]

RewriteRule ^page-introuvable/ routeur.php?controleurs=Fonctions&action=urlIncorrect [L]

ErrorDocument 401 /lokisalle/www/page-introuvable/
ErrorDocument 403 /lokisalle/www/page-introuvable/
ErrorDocument 404 /lokisalle/www/page-introuvable/
