@font-face{
  font-family:"codel";src:url('codel.otf');
}
@font-face{
  font-family:"codeb";src:url('codeb.otf');
}
*{
  box-sizing:border-box;
  font-family:helvetica, arial;
}
a{
  text-decoration:none;
  color:#735d6d;
  transition:color 250ms ease;
}
a:hover{
  color:#594055;
}
body{
  background:#d9cdbf;
  width:100%;
  margin:0 auto;
  float:left;
}
#header {
  padding:1%;
  text-align:center;
  background:#402e39;
  margin:0 0 25px;
}
#header h1{
  font-family:'codeb';
  font-size:4em;
}
#header h1 span{
  font-family:'codel';
}
#header a{
  color:#d9cdbf;
}
#nav{
  height:auto;
  width:100%;
  float:left;
}
ul.menu_user,
ul.menu_userAdmin{
  text-align:center;
  padding:0;
  margin:0;
}
ul.menu_user li,
ul.menu_userAdmin li,
ul.menu_footer li{
  list-style:none;
  margin:auto;
}
ul.menu_user li a,
ul.menu_userAdmin li a{
  font-size:1.5em;
  line-height:2em;
  width:100%;
  float:left;
  border-bottom:1px solid #bfb3a4;
  transition:all 250ms ease;
}
ul.menu_user li a:hover,
ul.menu_userAdmin li a:hover,
ul.menu_user li a.active,
ul.menu_userAdmin li a.active,
ul.sous-menu-admin li a.active{
  background:#bfb3a4;
}
#cont{
  width:100%;
  margin:0;
  padding:0;
  float:left;
}
#plan-du-site p{
  padding:0 6%;
}

/* Menu Footer */
footer{
  float:left;
  text-align:center;
  width:100%;
  padding:50px 0;
  margin:25px auto 0;
  background:#402e39;
}
.menu_footer li a{
  color:#d9cdbf;
}
.menu_footer li a.active{
  color:#735d6d;
}

/* Accueil */
.infos_1,
.infos_2{
  float:left;
  border:1px solid #735d6d;
  border-radius:2px;
  margin:0 1% 50px;
  width:98%;
  background:#eee;
}
.infos_1 h2,
.infos_2 h3{
  font-family:'codel';
  width:100%;
  font-size:2em;
  margin:0;
  padding:10px;
  background:#735d6d;
  color:#d9cdbf;
  border-radius:2px 2px 0 0;
}
.infos_1 h2 span{
  font-family:'codeb';
}
.infos_1 p,
.infos_2 p{
  padding:10px;
  color:#444;
}
#last3offres{
  width:100%;
}
h2,
h3{
  font-family:'codel';
  width:100%;
  padding:0 3%;
  color:#735d6d;
}
h2{
  font-size:2em;
  margin:50px 0 25px;
}
h3{
  font-size:1.5em;
  margin:25px 0;
}

/* Animation accueil */
.slide{
  width:100%;
  height:400px;
  position:relative;
  overflow:hidden;
}
.slide img{
  position:absolute;
  width:100%;
  height:auto;
}
.slide img.img1{
  animation:slide1 30s ease infinite;
}
.slide img.img2{
  opacity:0;
  animation:slide2 30s ease infinite;
}
.slide img.img3{
  opacity:0;
  animation:slide3 30s ease infinite;
}
.slide img.img4{
  opacity:0;
  animation:slide4 30s ease infinite;
}

@keyframes slide1{
  0%,27%,100%{opacity:0;}
  4%,23%{opacity:1;}
}
@keyframes slide2{
  0%,23%,50%,100%{opacity:0;}
  27%,46%{opacity:1;}
}
@keyframes slide3{
  0%,46%,73%,100%{opacity:0;}
  50%,69%{opacity:1;}
}
@keyframes slide4{
  0%,69%,100%{opacity:0;}
  73%,99%{opacity:1;}
}

/* Formulaire */
.form-group{
  float:left;
  width:96%;
  margin:10px 2%;
  min-height:100px;
  padding:0;
  border-radius:2px;
}
.form-group label,
.form-group input,
.form-group textarea,
.form-group em,
.form-group p,
.form-group img{
  float:left;
  width:100%;
  margin:0;
}
.form-group img{
  border-right:1px solid #735d6d;
  border-left:1px solid #735d6d;
}
.form-group label{
  font-family:'codel';
  font-size:1.1em;
  margin:0;
  padding:10px;
  background:#735d6d;
  color:#d9cdbf;
  border-radius:2px 2px 0 0;
}
.form-group.erreur label{
  background:rgb(143, 0, 0);
}
.form-group.erreur p{
  border-color:rgb(143, 0, 0);
}
.form-group.ok label{
  background:rgb(0, 108, 0);
}
.form-group.ok p{
  border-color:rgb(0, 108, 0);
}
.form-group input,
.form-group textarea,
.form-group p{
  border:1px solid #735d6d;
  padding:10px 5px;
  font-size:1em;
  border-radius:0 0 2px 2px;
  background:#eee;
  color:#444;
}
.form-group textarea{
  max-width:100%;
  min-height:150px;
}
.form-group select{
  color:#444;
  width:100%;
  font-size:1em;
  height:2em;
  border:none;
}
.form-group.date select{
  width:31.4%;
}
.form-group em{
  transition:opacity 250ms ease;
  margin:0;
  padding:5px;
  font-size:.9em;
  color:#888;
  opacity:0;
}
.form-group:hover em{
  opacity:1;
}
input[type="submit"]{
  width:98%;
  margin:10px 1%;
  font-size:1em;
  letter-spacing:1px;
  cursor:pointer;
  line-height:2em;
  padding:.5em;
  border:none;
  border-radius:2px;
  background:#bfb3a4;
  transition:all 250ms ease;
  color:#735d6d;
}
input[type="submit"].large{
  width:96%;
  margin:2%;
}
input[type="submit"]:hover{
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  color:#735d6d;
}
.form-group__inlabel{
  width:96%;
  margin:2%;
  float:left;
  border:1px solid #735d6d;
  border-radius:2px;
  background:#eee;
  padding:10px;
}
.form-group__radio{
  float:left;
  width:100%;
  padding:10px;
  border:1px solid #735d6d;
  border-radius:0 0 2px 2px;
  background:#eee;
}
.form-group__inlabel label{
  width:95%;
  float:left;
}
.form-group__inlabel input{
  width:5%;
  float:left;
  margin:0;
}
.form-group__radio label{
  border:none;
  padding:0;
  font-family:inherit;
  font-size:1em;
  float:left;
  background:#eee;
  width:45%;
  color:#444;
  border-radius:0;
}
.form-group__radio input,
.form-group__inlabel input{
  float:left;
  width:5%;
  padding:2px;
  background:#eee;
}
a.bouton-a{
  display: block;
  float:left;
  width:96%;
  font-size:1em;
  margin:0 2%;
  line-height:2em;
  padding:.5em;
  /*border:1px solid #bfb3a4;*/
  border-radius:2px;
  background:#bfb3a4;
  transition:all 250ms ease;
  text-align:center;
}
a.bouton-a:hover{
  box-shadow:0 2px 2px rgba(0, 0, 0, 0.5);
}
form.validation{
  float:left;
  margin:25px auto;
}
/* Affichage d'un produit simple */
.produit{
  width:98%;
  margin:1%;
  border:1px solid #735d6d;
  border-radius:2px;
  background:#eee;
}
.produit:hover{
  transition:all 250ms ease;
  box-shadow:0 2px 2px rgba(0, 0, 0, 0.5);
}
.produit h3{
  font-family:'codel';
  font-size:1.5em;
  margin:0;
  padding:10px;
  background:#735d6d;
  color:#d9cdbf;
}
.produit p{
  color:#444;
  padding:5px 10px;
  margin:0;
}
.produit img.pict{
  width:20px;
  margin:0 10px 0 0;
  transform:translateY(2px);
}
.produit .description{
  padding-bottom:20px;
  margin-bottom:10px;
  border-bottom:1px solid #735d6d;
}
.produit p span{
  font-weight:800;
}
.produit .image_overflow{
  width:100%;
  height:275px;
  margin:0 0 5px;
  padding:0;
  overflow:hidden;
}
.produit .image_overflow img{
  width:101%;
  height:auto;
  opacity:.9;
  transition:opacity 250ms ease;
}
.produit:hover .image_overflow img{
  opacity:1;
}
.produit .panier{
  text-align:center;
  margin:0;
  padding:10px 0;
}
.produit .panier a{
  font-size:1em;
  line-height:2em;
  padding:.5em;
  border:1px solid #bfb3a4;
  border-radius:2px;
  background:#bfb3a4;
  transition:all 250ms ease;
}
.produit .panier a:hover{
  box-shadow:0 2px 2px rgba(0, 0, 0, 0.5);
}
.produit .panier a img{
  width:20px;
  margin:0 10px 0 0;
  transform: translateY(5px);
}

/* Tableau */
.tableau{
  width:96%;
  margin:2%;
  float:left;
  text-align:center;
  border:1px solid #735d6d;
  border-radius:2px;
}
.tableau img{
  height:100px;
}
.tableau .head,
.tableau .body{
  float:left;
  width:100%;
}
.tableau .title{
  font-family:'codel';
  font-size:1.1em;
  margin:0;
  padding:10px 0;
  background:#735d6d;
  color:#d9cdbf;
  line-height:20px;
  height:40px;
  float:left;
}
ul.body{
  margin:0;
  padding:0;
}
.tableau li{
  list-style:none;
  float:left;
  width:100%;
  border-bottom:1px solid #735d6d;
}
.tableau li:last-child{
  border:none;
}
.tableau .cel{
  margin:0;
  transition:background-color 250ms ease;
}
.tableau .body{
  color:#735d6d;
  background:#eee;
}
.tableau .cel{
  float:left;
  padding:10px 0;
}
.tableau li:hover .cel{
  background:#cecece;
}
#last_commande .tableau .title,
#last_commande .tableau .cel{
  width:50%;
}

/* Panier */
.wp10{
  width:10%;
}
.wp20,
#panier .wp20l{
  width:20%;
}
#panier .wp20l{
  text-align:left;
  padding-left:10px;
  background:#cecece;
}
.wp25{
  width:25%;
}
.wp30{
  width:30%;
}
.wp40{
  width:40%;
}
.wp50{
  width:50%;
}
.wp80{
  width:80%;
  padding-right:10px;
  text-align:right;
  background:#cecece;
}
.wp100{
  width:100%;
}
.wp15{
  width:15%;
}
.wp5{
  width:5%;
}
.tableau .wpimg{
  padding:0;
  overflow:hidden;
}
.tableau .title a{

}
.tableau .title .order{
  height:15px;
}
.tableau .title .order.desc{
  transform:rotate(180deg);
}
.tableau .pict{
  padding:7px 0;
}
.tableau .pict img{
  height:20px;
}
#economie{
  width:100%;
  float:left;
}

/* Profil d'un membre & gestion membres */
#last_commande,
#profil{
  float:left;
}
#nouvel-admin{
  margin:50px 0;
}

/* Details d'un produit */
#details_produit{
  width:98%;
  margin:1%;
  float:left;
}
#avis_produit{
  float:left;
}
#avis_produit .wp100a{
  text-align:left;
  width:100%;
  padding:10px;
  -webkit-hyphens:auto;
  -moz-hyphens:auto;
  -ms-hyphens:auto;
}
#details_sugg{
  width:100%;
  float:left;
}
#avis_produit p{
  float:left;
  width:100%;
  padding:2%;
}

/* Menu Admin */
ul.sous-menu-admin{
  width:100%;
  float:left;
  margin:25px 0 50px;
  padding:0;
}
ul.sous-menu-admin li{
  list-style:none;
}
ul.sous-menu-admin li a{
  width:100%;
  margin:0;
}

/* Gestion salles (admin) */
#gestion_salles .tableau .cel{
  height:100px;
}

#nouvel-admin,
#details-commandes{
  float:left;
}

#details-commandes{
  margin:0 0 50px;
}

@media screen and (min-width: 600px) { /*@media screen and (min-device-width: 600px) {*/
  #nav,
  #cont,
  ul.menu_footer{
    float:none;
    width:960px;
    margin:auto;
  }
  #header,
  footer{
    height:150px;
  }
  #header h1{
    margin:0;
  }
  .infos_2{
    width:48%;
    margin:10px 1% 50px;
    float:left;
  }
  .infos_2 h3{
    font-size:1em;
  }
  ul.menu_user{
    height:52px;
  }
  ul.menu_userAdmin{
    height:110px;
  }
  ul.menu_user li a,
  ul.menu_userAdmin li a{
    font-size:1em;
    line-height:2em;
    padding:0;
    border:1px solid #bfb3a4;
    border-radius:2px;
    margin:1%;
    background:#bfb3a4;
  }
  ul.menu_user li a:hover,
  ul.menu_userAdmin li a:hover,
  ul.menu_user li a.active,
  ul.menu_userAdmin li a.active,
  ul.sous-menu-admin li a.active{
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.5);
    color:#594055;
  }
  ul.menu_user li a{
    width:14.6%;
  }
  ul.menu_visiteur li a{
    width:18%;
  }
  ul.menu_userAdmin li a{
    width:22.9%;
  }

  /* Menu Footer */
  ul.menu_footer li a{
    letter-spacing:1px;
    font-size:.9em;
    line-height:1em;
    padding:0 24px;
    float:left;
    width:auto;
  }
  footer{
    padding:68px;
  }
  /* Accueil */

  /* Produit simple */
  .produit{
    width:31.3%;
    margin:1%;
    float:left;
  }
  .produit .image_overflow{
    height:175px;
  }

  /* Formulaire */
  .form-group,
  .form-group .radio{
    width:48%;
    margin:5px 1%;
  }
  .form-group.large{
    width:98%;
    margin:5px 1%;
  }
  form.mid .form-group{
    width:100%;
    margin:5px 0;
  }
  input[type="submit"]{
    width:50%;
    margin:0 25% 10px;
  }
  input[type="submit"].large{
    width:100%;
    margin:0;
  }
  .form-group__inlabel{
    width:48%;
    margin:0 1% 10px;
  }
  form.mid{
    float:left;
    width:48%;
    margin:0 1%;
  }
  .form-group.erreur .bouton-a{
    width:25%;
    margin:20px 12.5% 10px;
    color:rgb(143, 0, 0);
  }
  .form-group label img{
    width:20px;
    border:none;
    margin:0 10px 0 0;
  }
  .form-group.erreur label img{
    transform:rotate(180deg);
  }

  /* Profil d'un membre */
  #profil,
  #last_commande{
    width:50%;
  }
  a.bouton-a{
    width:50%;
    margin:5px 25%;
  }
  .tableau.mid{
    width:96%;
    margin:1% 2%;
  }
  .tableau.large{
    width:98%;
    margin:1%;
  }

  /* Panier */
  #economie{
    width:50%;
    margin:0;
  }

  /* Détails d'un produit */
  #details_produit{
    width:58%;
    margin:0 1%;
  }
  #details_produit .produit{
    width:100%;
    margin:1% auto;
  }
  #details_produit .produit:hover{
    box-shadow:none;
  }
  #details_produit .produit img{
    transition:transform 250ms ease-out;
    opacity:1;
  }
  #details_produit .produit:hover .image_overflow img{
    transform:scale(1.1);
  }
  #details_produit .produit .image_overflow{
      height:350px;
  }
  #avis_produit{
    width:40%;
    margin:0;
  }
  .autoscoll{
    max-height:825px;
    overflow:auto;
  }
  /*#avis_produit .wp20{
    width:20%;
  }
  #avis_produit .wp80{
    width:80%;
  }*/

  /* Menu Admin */
  ul.sous-menu-admin li a{
    width:48%;
    margin:1%;
  }

}
/*
table {
  width:100%;
}
table.affichageSalles ,
table.affichageSalles td,
table.panier,
table.panier td,
table.panier th{
  border:1px solid #444;
}
.gestion_produit_afficher table,
.gestion_produit_afficher table td, {
  border:1px solid #444;
}
form {
  width:100%;
  float:left;
}
img {
  width:250px;
}

.gestion_produit_modifier{
  margin:50px 0;
}
.menu_admin {
  float:left;
  width:100%;
}
*/
